html {
    font-size: 62.5%;
    /*Reset para REMS - 62.5% = 10px de 16px*/
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans condensed', sans-serif;
}


/*UTILIDADES*/

.contenido {
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

.btn {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.registro .btn:hover {
    background-color: #2dff3fc4;
}


/*HEADER*/

header {
    background-image: url(../img/fondo9.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

header nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.icono {
    display: none;
}

.enlaces {
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

.enlaces a {
    padding: 4px 0;
    transition: 0.7s ease-out;
    color: #ffffff;
    text-decoration: none;
}

nav .logo {
    height: 100%;
    margin-top: 10px;
}

nav .logo img {
    width: 110px;
}

header .textos {
    text-align: center;
    color: #ffffff;
    margin-top: 150px;
}

header .textos h1 {
    font-size: 100px;
    letter-spacing: 3px;
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    .icono {
        display: block;
        justify-content: center;
        height: 70px;
        align-items: center;
        color: rgb(54, 240, 48);
        padding: 20px;
        z-index: 100;
        cursor: pointer;
        font-size: 30px;
    }
    header .textos h1 {
        font-size: 75px;
    }
    .enlaces {
        position: fixed;
        height: 100%;
        right: 0;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        transition: all 1s ease;
        background: #a8ff78;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #78ffd6, #a7ff7875);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #78ffd6, #a7ff78dc);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .enlaces a {
        display: block;
        border-bottom: 50px;
        font-size: 20px;
        padding: 10px 90px;
    }
    .enlaces a:hover {
        color: rgb(47, 144, 255);
    }
    .contenido {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        height: 730px;
    }
    .texto {
        width: 38%;
        text-align: center;
        margin-top: 200px;
    }
    .texto h1 {
        color: honeydew;
        font-size: 32px;
    }
    .uno {
        -webkit-clip-path: circle(0% at 100% 0%);
        clip-path: circle(0% at 100% 0%);
    }
    .dos {
        -webkit-clip-path: circle(150% at 100% 0%);
        clip-path: circle(150% at 100% 0%);
    }
}


/*SECTION*/

.seccion h2 {
    padding-bottom: 3.5rem;
}

.iconos-nosotros {
    display: flex;
    justify-content: space-between;
}

.iconos {
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}

.iconos img {
    width: 90px;
}

.iconos h3 {
    text-transform: uppercase;
}

.centrar-texto {
    text-align: center;
    font-weight: 300;
}

.iconos p {
    font-size: 1.5rem;
}

@media screen and (max-width: 450px) {
    .iconos-nosotros {
        width: 100%;
        display: grid;
    }
    .iconos h3 {
        margin: 0;
    }
}


/*Main*/

.collage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.collage .fond1 {
    background-image: url(../img/font8.JPG);
    background-position: center;
    height: 674px;
    background-size: cover;
    text-align: center;
}

.collage .fond2 {
    background-image: url(../img/font7.JPG);
    background-position: center;
    height: 674px;
    background-size: cover;
    text-align: center;
}

.collage .fond3 {
    background-image: url(../img/font9.JPG);
    background-position: center;
    height: 674px;
    background-size: cover;
    text-align: center;
}

.text {
    margin-top: 50%;
}

.text .btn {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.text a {
    font-size: 3rem;
    color: #ffffff;
    text-decoration: none;
}

.text p {
    font-size: 2rem;
    color: #ffffff;
}

@media screen and (max-width: 450px) {
    .collage {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 85px;
    }
    .fond1 .text p {
        width: 60%;
        margin: 2rem auto;
    }
    .fond2 .text p {
        width: 60%;
        margin: 2rem auto;
        color: #fff;
    }
    .fond2 .text a {
        color: #fff;
    }
}


/*CONTACTANOS*/

.imagen-contacto {
    background-image: url(../img/fon4.jpg);
    background-position: center;
    background-size: cover;
    height: 45rem;
    display: flex;
    align-items: center;
}

.contenido-contacto {
    color: #fff;
}

.contenido-contacto p {
    font-size: 1.8rem;
}

@media screen and (max-width: 450px) {
    .contenido-contacto {
        height: 200px;
        margin-bottom: 270px;
    }
    .contenido-contacto .btn {
        width: 30%;
        padding: 10px;
    }
    .contenido-contacto a {
        font-size: 15px;
    }
}


/*FOOTER*/

.site-footer {
    background-color: #333;
    margin: 0;
}

.contenedor-footer {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}

.copyright {
    margin: 0;
    color: #fff;
}

.contenido p {
    font-size: 1.4rem;
}

@media screen and (max-width: 450px) {
    footer .contenedor-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50px;
        padding: 0;
    }
    .contenedor-footer .navegacion {
        margin-top: 5px;
    }
    .contenedor-footer .navegacion a {
        color: #ffffff;
        text-decoration: none;
        font-size: 12px;
        margin-right: 5px;
    }
    .contenedor-footer p {
        padding-bottom: 5px;
    }
}